/* 
 * 
 * 
 * 
 * !!!!! BEFORE YOU EDIT THIS FILE !!!!!
 * Please add customizations at the end of this file in the provided space.
 *
 * If you find a CSS rule you wish to change:
 * 1. Copy the whole CSS rule
 * 2. Paste it at the end of this file
 * 3. Edit the copied rule at the bottom of the file (not the original)
 * 4. When this file is used by Enhanced Mobile Web, the copied rule will take precedence
 *    over the original
 *
 * Note: If you are familiar with CSS, you may be able to copy only the specific selector
 * and property you wish to override
 *
 *
 *
 *
-----------------------------------------------------------------------------------------------------------
 This file contains only brandable Enhanced Mobile Web Site styles and is created by the Theme Tool. [MB-26136]
 Core styles are contained in mbanking.css which is contained in fi-base by default. [MB-26133]
-----------------------------------------------------------------------------------------------------------
 Copyright 2007-2012 mFoundry. All rights reserved.
 Theme Tool Version: 3.3.0.51
-----------------------------------------------------------------------------------------------------------*/
/* Swatches */
/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a, .dialog-ui-bar-a {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C9282D /*{a-bar-background-start}*/), to( #9B1F23 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C9282D /*{a-bar-background-start}*/, #9B1F23 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #C9282D /*{a-bar-background-start}*/, #9B1F23 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #C9282D /*{a-bar-background-start}*/, #9B1F23 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #C9282D /*{a-bar-background-start}*/, #9B1F23 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #C9282D /*{a-bar-background-start}*/, #9B1F23 /*{a-bar-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#C9282D', endColorstr='#FF#9B1F23',GradientType=0 ); /* IE6-9 */
}
.ui-btn-up-a, .ui-btn-up-a:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C9282D /*{a-bup-background-start}*/), to( #9B1F23 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#C9282D', endColorstr='#FF#9B1F23',GradientType=0 ); /* IE6-9 */
}
.ui-btn-hover-a {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C9282D /*{a-bup-background-start}*/), to( #9B1F23 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#C9282D', endColorstr='#FF#9B1F23',GradientType=0 ); /* IE6-9 */
}
.ui-btn-down-a {
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C9282D /*{a-bup-background-start}*/), to( #9B1F23 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #C9282D /*{a-bup-background-start}*/, #9B1F23 /*{a-bup-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#C9282D', endColorstr='#FF#9B1F23',GradientType=0 ); /* IE6-9 */
}


/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	background-color: #4A4848 /*{b-bar-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #4A4848 /*{b-bar-background-start}*/), to( #393737 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #4A4848 /*{b-bar-background-start}*/, #393737 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #4A4848 /*{b-bar-background-start}*/, #393737 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #4A4848 /*{b-bar-background-start}*/, #393737 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #4A4848 /*{b-bar-background-start}*/, #393737 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #4A4848 /*{b-bar-background-start}*/, #393737 /*{b-bar-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#4A4848', endColorstr='#FF#393737',GradientType=0 ); /* IE6-9 */
}
/* global nav gradient background */
.ui-body-b {
	background-color: #4A4848 /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4E4C4C), to(#4A4848)), -webkit-gradient(linear, left top, left bottom, from(#4A4848), to(#4A4848)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#4E4C4C, #4A4848), -webkit-linear-gradient(#4A4848, #4A4848); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(#4E4C4C, #4A4848),    -moz-linear-gradient(#4A4848, #4A4848); /* FF3.6 */
	background-image: -ms-linear-gradient(#4E4C4C, #4A4848),     -ms-linear-gradient(#4A4848, #4A4848); /* IE10 */
	background-image: -o-linear-gradient(#4E4C4C, #4A4848),      -o-linear-gradient(#4A4848, #4A4848); /* Opera 11.10+ */
	background-image: linear-gradient(#4E4C4C, #4A4848),         linear-gradient(#4A4848, #4A4848);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF#4E4C4C', endColorstr='#FF#4A4848',GradientType=0); /* IE6-9 */
}
.ui-btn-hover-b {
	background-color: #9B1F23 /*{b-bhover-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9B1F23 /*{b-bhover-background-start}*/), to( #9B1F23 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9B1F23 /*{b-bhover-background-start}*/, #9B1F23 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9B1F23 /*{b-bhover-background-start}*/, #9B1F23 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9B1F23 /*{b-bhover-background-start}*/, #9B1F23 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9B1F23 /*{b-bhover-background-start}*/, #9B1F23 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9B1F23 /*{b-bhover-background-start}*/, #9B1F23 /*{b-bhover-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#9B1F23', endColorstr='#FF#9B1F23',GradientType=0 ); /* IE6-9 */
}
.ui-btn-down-b {
	background-color: #9B1F23 /*{b-bdown-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #9B1F23 /*{b-bdown-background-start}*/), to( #9B1F23 /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #9B1F23 /*{b-bdown-background-start}*/, #9B1F23 /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #9B1F23 /*{b-bdown-background-start}*/, #9B1F23 /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #9B1F23 /*{b-bdown-background-start}*/, #9B1F23 /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #9B1F23 /*{b-bdown-background-start}*/, #9B1F23 /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #9B1F23 /*{b-bdown-background-start}*/, #9B1F23 /*{b-bdown-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#9B1F23', endColorstr='#FF#9B1F23',GradientType=0 ); /* IE6-9 */
}



/* C
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-up-c,
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
	color: #9B1F23 /*{c-bup-color}*/;
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
	color: #9B1F23 /*{c-bhover-color}*/;
}
.ui-btn-down-c {
	color: #9B1F23 /*{c-bdown-color}*/;
}
.ui-btn-down-c:visited,
.ui-btn-down-c:hover,
.ui-btn-down-c a.ui-link-inherit {
	color: #9B1F23 /*{c-bdown-color}*/;
}



/* D
-----------------------------------------------------------------------------------------------------------*/

.ui-body-d .ui-link {
	color: #C9282D !important/*{d-body-link-color}*/;
}

.ui-body-d .ui-link:visited {
    color: #C9282D !important/*{d-body-link-visited}*/;
}

.ui-body-d .ui-link:hover {
	color: #C9282D !important/*{d-body-link-hover}*/;
}

.ui-body-d .ui-link:active {
	color: #C9282D !important/*{d-body-link-active}*/;
}



/* E
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-e {
	border-color: #9B1F23 /*{e-bar-border}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #C9282D /*{e-bar-background-start}*/), to( #9B1F23 /*{e-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #C9282D /*{e-bar-background-start}*/, #9B1F23 /*{e-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #C9282D /*{e-bar-background-start}*/, #9B1F23 /*{e-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #C9282D /*{e-bar-background-start}*/, #9B1F23 /*{e-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #C9282D /*{e-bar-background-start}*/, #9B1F23 /*{e-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #C9282D /*{e-bar-background-start}*/, #9B1F23 /*{e-bar-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#C9282D', endColorstr='#FF#9B1F23',GradientType=0 ); /* IE6-9 */
}



/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-body-f,
.ui-overlay-f {
	color: #F2F2F2  /*{f-body-color}*/;
	background-color: #6F6D6D !important  /*{f-body-background-color}*/;
}
#SearchActivity_Scr .topOfPageText, 
.balanceInfoContainer #balance, 
#acctBalanceLabel, .acctName {
	color: #F2F2F2 !important  /*{f-body-color}*/;
}
.ie #messageDialogHeader h1 {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#C9282D', endColorstr='#FF#9B1F23',GradientType=0 );
}
.ui-body-f .ui-link-inherit {
	color: #F2F2F2  /*{f-body-color}*/;
}

.ui-body-f .ui-link {
	color: #C9282D /*{f-body-link-color}*/;
}

.ui-body-f .ui-link:visited {
    color: #C9282D /*{f-body-link-visited}*/;
}

.ui-body-f .ui-link:hover {
	color: #C9282D /*{f-body-link-hover}*/;
}

.ui-body-f .ui-link:active {
	color: #C9282D /*{f-body-link-active}*/;
}

/*********************************LOCATION******************************************/
.ui-split-bar {
	background-color: #6F6D6D;
}

/************************************LOCATION BANNER************************************/
.ui-location-list-item-highlighted {
	background-color: #F2C9CB !important;
}

/***********************MESSAGE DIALOG*************************/
#messageDialog .dialog-content .alignCenterButton a.font-label-button {
	color: #9B1F23 !important;
}

/***********************CUSTOM KEYPAD*************************/
#btnDone > span.ui-btn-inner {
	color: #9B1F23 !important;
}

/* Text is 36px Helvetica Neue Bold #9B1F23 */
.ui-footer.ui-bar-c .ui-btn-text {
	color: #9B1F23;
}

/* SIGN ON AND ACTIVATION PAGE*/
/* Subhead text */
span.instructions {
	/* 24px Helvetica Neue Regular, #F2F2F2 */
	color: #F2F2F2;
}

/* MFA */
.mfaMreg2 a, .mfaMreg3 a, .mfaMreg4 a {
	color: #F2C9CB !important;
}

/* FI FOOTER */
.fiFooter, .fiFooter .ui-link:link, .fiFooter .ui-link:visited, .fiFooter .ui-link:hover, .fiFooter .ui-link:active {
 	color: #F2F2F2;
}

.fiFooter .ui-link:link, .fiFooter .ui-link:visited, .fiFooter .ui-link:hover, .fiFooter .ui-link:active {
	color: #F2F2F2;
}

/* About and Contact */
#about .ui-link-customer {
	color: #C9282D !important;
}

 #ViewAccts_Scr .footer div{
 	color: #F2F2F2 !important;
 }
 
 /*********************SECONDARY NAVIGATION BAR*****************/
 .right-btn {
 	color: #9B1F23;
 }
 
 /*********************STANDARD LIST ITEM*****************/
 /* p16 f13: When the List Item is touched, the background color changes
 to Brand Color #1 highlight color at 25% opacity on the 
 #FFFFFF background until the finger leaves the touch surface */
 .ui-listview .ui-btn-hover-f, .ui-listview .ui-btn-down-f {
	background-color: #F2C9CB; 
 }

/* details title styling */
div.ui-listBox ul.detail.ui-listview a {
 	color: #C9282D;
}

 /*********************DATEPICKER*****************/

 .ui-datepicker-current-day {
 	background-image: -webkit-gradient(linear, left top, left bottom, from( #B0141C /*{a-bar-background-start}*/), to( #E41A24 /*{a-bar-background-end}*/)) !important; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #B0141C /*{a-bar-background-start}*/, #E41A24 /*{a-bar-background-end}*/) !important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #B0141C /*{a-bar-background-start}*/, #E41A24 /*{a-bar-background-end}*/) !important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #B0141C /*{a-bar-background-start}*/, #E41A24 /*{a-bar-background-end}*/) !important; /* IE10 */
	background-image:      -o-linear-gradient( #B0141C /*{a-bar-background-start}*/, #E41A24 /*{a-bar-background-end}*/) !important; /* Opera 11.10+ */
	background-image:         linear-gradient( #B0141C /*{a-bar-background-start}*/, #E41A24 /*{a-bar-background-end}*/) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF#B0141C', endColorstr='#FF#E41A24',GradientType=0 ); /* IE6-9 */
 }
 .ui-datepicker-calendar .ui-datepicker-today a.ui-state-default {
 	color: #E41A24;
 }
 
/* ROW PROPERTIES */
/* p19 f14: When the List Item is touched, the background color 
changes to Brand Color #1 highlight color at 25% opacity 
on the #FFFFFF background until the finger leaves the 
touch surface */
.ui-collapsible-heading-collapsed a.ui-btn-down-c, .ui-collapsible-heading-collapsed a.ui-btn-hover-c {
	background-color: #F2C9CB;
}

/*********************CHALLENGE FLOW*****************/
.challengeContainer .challengeQuestion label.ui-input-text,
div[id*="fs_Challenge"] {
 	color: #F2F2F2;
}

/********************* TERMS & CONDITIONS ********************/
.terms-content .terms-title,
#locationDetails_Scr .terms-title {
	color: #F2F2F2;
}

/******************* SPLASH SCREEN *******************/
#splash_Scr {
	background-color: #C9282D !important;
}

/***************************************************************************************************************
 ***************************************************************************************************************
 ***************************************************************************************************************
 * This marks the end of the default CSS rules in this file. Anything after this comment is a customization
 * (please see the top of this file for details).
 ***************************************************************************************************************/
